group#member

<div>
    <%# current_user ||= User.find_by(id: session[:user_id]) %>
    <!-- なぜここに再定義する必要がありのかはcontrollerの方に書いててviewで使えないから、helperの方に書きましょう -->
    <%# if Member.find_by(user_id: current_user.id, group_id: @group.id).present? %>
    <!-- わざわざcurrent_user使わなくてもsessionでできる -->
    <% if Member.find_by(user_id: session[:user_id], group_id: @group.id).present? %>
        <%= link_to("このグループを退会する", "/groups/#{@group.id}/joins", method: :delete) %>
    <% else %>
        <%= link_to("このグループに参加する", "/groups/#{@group.id}/joins", method: :post) %>
    <% end %>
</div>
--------------------

<div>
    <% @members.each do |member| %>
        <div>
            <%= member.id %>
            <%= member.flag %>
            <% user = User.find_by(id: member.user_id) %>
            <%= attachment_image_tag(user, :image, :fill, 60, 60) %>
            <%= user.name %>
            <%= user.id %>
            <%= user.profile %>

            <div>
                <%# ユーザーのマイページリンク %>
                <%= link_to("このユーザーのページへ", user_path(member.user_id)) %>
            </div>

            <div>
                <%# 管理者がユーザーを追放 %>
                <%# if Member.where(group_id: @group.id, flag: "admin") %>
                <% if member.group_id == @group.id && member.flag == "admin" %>
                    <%= link_to("このユーザを追放する", group_joins_path(group_id: @group.id, member_id: member.id, flag: "admin"), method: :DELETE) %>
                <% end %>
            </div>
        </div>
        --------------------
    <% end %>
</div>