<div class="container">
    <div class="row", style="margin: 10px; padding: 5px; border: solid #DDEEFF; border-width: thin; background: linear-gradient(to bottom, #DDEEFF, #FFF);">
        <div class="col-2">
            <%= attachment_image_tag(@group, :image, :fill, 100, 100, class: "rounded") %>
        </div>
        <div class="offset-3", style="margin-top: 10px;">
            <h5><%= "グループ名: #{@group.name}" %></h5>
            <%= link_to("編集する", edit_group_path(@group.id), class: "btn btn-primary btn-sm") %>
        </div>
    </div>

	<%# メンバー一覧リンク %>
	<div class="row">
		<div class="offset-1", style="font-size: 25px;">
			<%= link_to("メンバー", member_group_path(@group.id), class: "btn btn-primary", style: "margin-bottom: 10px;") %>
		</div>

	<%# 新規作成リンク %>
		<div class="offset-6", style="font-size: 25px;">
			<%= link_to("投稿を作成する", new_group_board_path(group_id: @group.id), class: "btn btn-primary", style: "margin-bottom: 10px;") %>
		</div>
	</div>

    <%# 投稿 %>
    <div class="col-6 offset-1">
        <div class="card", style="margin-top: 5px;">
            <%# 投稿タイトル %>
            <div class="card-header", style="padding: 5px 20px 5px 20px;">
                <% user = User.find_by(id: @board.user_id) %>
                <%# attachment_image_tag(user, :image, :fill, 30, 30, class: "rounded-circle") %>
                <%= user.name %>
            </div>

            <div class="card-body", style="padding: 5px 20px 5px 20px;">
                <%# 投稿詳細へ %>
                <%= link_to(group_board_path(group_id: @group.id, id: @board.id), style: "text-decoration: none; color: black;") do %>
                    <p class="card-text", style="word-break: break-all;"><%= @board.content %></p>
                <% end %>

                <div class="offset-8">
                    <%# 編集、削除ボタン %>
                    <%# 投稿者本人と管理者が編集と削除ができる %>
                    <%# user = User.find_by(id: @board.user_id) %>
                    <%# if session[:user_id] == user.id || Member.where(group_id: @group.id, flag: "admin") %><!--↓のでok-->
                    <% member = Member.find_by(group_id: @group.id, flag: "admin") %>
                    <% if session[:user_id] == @board.user_id or session[:user_id] == member.user_id %>
                        <%= link_to("編集", edit_group_board_path(group_id: @group.id, id: @board.id), class: "card-link") %>
                        <%= link_to("削除", group_board_path(group_id: @group.id, id: @board.id), method: :DELETE, class: "card-link") %>
                    <% end %>
                </div>
            </div>

            <div class="card-footer", style="padding: 5px 20px 5px 20px;">
                <div>
                    <%# いいねの表示と処理 %>
                    <% like = Like.where(group_board_id: @board.id) %>
                    <% if Like.where(user_id: session[:user_id], group_board_id: @board.id).present? %>
                        <%= link_to("/groups/#{@group.id}/boards/#{@board.id}/likes", method: :DELETE, class: "card-link") do %>
                            <i class="fas fa-heart", style="font-family: Font Awesome 5 Free;"></i>
                        <% end %>
                        <%= like.count %>
                    <% else %>
                        <%= link_to("/groups/#{@group.id}/boards/#{@board.id}/likes", method: :POST, class: "card-link") do %>
                            <i class="far fa-heart", style="font-family: Font Awesome 5 Free;"></i>
                        <% end %>
                        <%= like.count %>
                    <% end %>

                    <%# ブックマークの表示と処理 %>
                    <% bookmark = Bookmark.where(group_board_id: @board.id) %>
                    <% if Bookmark.where(user_id: session[:user_id], group_board_id: @board.id).present? %>
                        <%= link_to("/groups/#{@group.id}/boards/#{@board.id}/bookmarks", method: :DELETE, class: "card-link") do %>
                            <i class="fas fa-bookmark", style="font-family: Font Awesome 5 Free;"></i>
                        <% end %>
                        <%= bookmark.count %>
                    <% else %>
                        <%= link_to("/groups/#{@group.id}/boards/#{@board.id}/bookmarks", method: :POST, class: "card-link") do %>
                            <i class="far fa-bookmark", style="font-family: Font Awesome 5 Free;"></i>
                        <% end %>
                        <%= bookmark.count %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%# 投稿に紐つけられたコメント一覧 %>
<div class="container", style="margin-top: 50px;">
    <div class="col-6 offset-1">
        <% @comments.each do |comment| %>
            <div class="card", style="margin-top: 5px;">
                <div class="card-header", style="padding: 5px 20px 5px 20px;">
                    <%= User.find_by(id: comment.user_id).name %>
                </div>

                <div class="card-body", style="padding: 5px 20px 5px 20px;">
                    <p class="card-text", style="word-break: break-all;"><%= comment.content %></p>

                    <div class="offset-11">
                        <%# 表示制限 %>
                        <% member = Member.find_by(group_id: @group.id, flag: "admin") %>
                        <% if session[:user_id] == comment.user_id or session[:user_id] == member.user_id  %>
                            <%= link_to("削除", group_board_comment_path(group_id: @group.id, board_id: @board.id, id: comment.id), method: :DELETE, class: "card-link") %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%# コメント投稿フォーム %>
<div class="container">
    <div class="offset-1" style="margin-top: 30px;">
        <%= form_with(model: @comment, url: group_board_comments_path(@group.id, @board.id), local: true) do |f| %>

        <div class="row">
            <% if @comment.errors.any? %>
                <% @comment.errors.full_messages.each do |error| %>
                    <%= error %>
                <% end %>
            <% end %>
        </div>

        <div class="form-group row">
            <div class="col-5">
                <%= f.label(:content, "コメント入力", class: "form-control-label") %>
                <%= f.text_area(:content, value: @comment.content, size: "?x5", class: "form-control") %>
            </div>
        </div>

        <div class="offset-3", style="padding: 0;">
            <%= f.submit("コメントする", class: "btn btn-primary") %>
        </div>
        <% end %>
    </div>
</div>


<%#
    model: [@group, @board, @comment]
    url: {controller: "comments", action: "create"}
    url: group_board_comments_path(group_id: @group.id, board_id: @board.id)
    formに記述するurlの書き方はgroup_board_comments_path(@group.id, @board.id)でlink_toとは違う
    url: "/groups/#{@group.id}/boards/#{@board.id}/comments"
%>