<!DOCTYPE html>
<html>
  <head>
    <title>Gema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar bg-dark p-0">
          <%# トップページリンク %>
            <%= link_to(root_path) do %>
              <%= image_tag("logo.png", size: "250x80") %>
            <% end %>

          <ul class="nav">

          </ul>
        </div>
      </nav>
    </header>

    <%# フラッシュメッセージを取り出してレイアウト %>
    <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>">
          <%= value %>
        </p>
    <% end %>
    <%= yield %>

    <footer class="footer">
      <p class="text-center">©︎Gamersこみゅ</p>
    </footer>
  </body>
</html>
