<!DOCTYPE html>
<html>
  <head>
    <title>Gema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar bg-dark p-0">
          <%# トップページリンク %>
            <%= link_to(root_path) do %>
              <%= image_tag("/logo.png", size: "250x80") %>
            <% end %>

          <ul class="nav">
            <%# ログインしているとき %>
            <% if !session[:user_id].nil? %>
              <% user = User.find_by(id: session[:user_id]) %>
              <%# アバウト %>
              <li class="m-2"><%= link_to("このサイトについて", about_path, style: "color:#fff;") %></li>
              <%# メモリンク %>
              <li class="m-2"><%= link_to("メモ", tasks_path, style: "color:#fff;") %></li>
              <%# マイページリンク %>
              <li class="m-2"><%= link_to("#{user.name}さん", user_path(user.id), style: "color:#fff;") %></li>
              <%# ログアウト %>
              <li class="m-2"><%= link_to("ログアウト", logout_path, style: "color:#fff;", method: :delete) %></li>
            <%# ログインしていないとき %>
            <% else %>
              <%# アバウト %>
              <li class="m-2"><%= link_to("このサイトについて", about_path, style: "color:#fff;") %></li>
              <%# 新規登録 %>
              <li class="m-2"><%= link_to("新規登録", new_user_path, style: "color:#fff;") %></li>
              <%# ログイン %>
              <li class="m-2"><%= link_to("ログイン", login_path, style: "color:#fff;") %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%# フラッシュメッセージを取り出してレイアウト %>
    <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>">
          <%= value %>
        </p>
    <% end %>
    <%= yield %>

    <footer class="footer">
      <p class="text-center">©︎Gamersこみゅ</p>
    </footer>
  </body>
</html>
